.parallax-window{
	
}
.parallax-window1{
	height: 150px;
	
}

.photo{
	border-radius:80px;
	float:left;	
	margin-right:1%;
	margin-left:1%;
	
}
/* voor cuteanimals */
.foto{
	width:250px;
	height:250px;
	padding:1%;
}
.pictures{
	margin-left:10%;
}
/*einde*/
/* voor work en cuteanimals */
.photo{
	border-radius:80px;
	float:left;	
	margin-right:1%;
	margin-left:1%;
	
}
/* einde */
body {
	font-family:"Century Gothic";
	background-color:grey;
	color:white;
}
.kader {
	
	margin-left:35%;
	width:45%;
	position:relative;
	
	
}
/* voor videos */
.filmpjes{
	margin:auto;
	margin-left:2%;
	padding-bottom:5%;

	
}
iframe{
	margin-left:2%;
}
/* einde */
.about {
	background-color:#f44336;
	width:100px;
	height:50px;
	display:inline-block;
	line-height:50px;
	
	
}
.work{
	background-color:#E91E63;
	width:100px;
	height:50px;	
	display:inline-block;
	line-height:50px;

}
.books{
	background-color:#9C27B0;
	width:100px;
	height:50px;
	display:inline-block;
	margin-bottom:5%;
	line-height:50px;
}
.animals {
	background-color:#673AB7;
	width:100px;
	height:50px;
	display:inline-block;
	margin-bottom:5%;
	line-height:50px;
	
}
.videos {
	background-color:#3F51B5;
	width:100px;
	height:50px;
	display:inline-block;
	margin-bottom:5%;
	line-height:50px;
	
}
a{
	text-align:center;
	text-decoration:none;
	color:white;
}


h1 {
	font-family: 'Bad Script', cursive;
	font-size:2em;
	margin-left:2%;
	padding-top:2%;
	
}
h2{
	font-family: 'Bad Script', cursive;
	font-size:1.5em;
	margin-left:2%;
	
}
.hidden{
	display:none;
}
.visible{
	display:inline;
}
p{
	width:70%;
	margin:auto;
	font-size:1.5em;
	margin-bottom:2%;
	
}
.tekst{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:15%;
	float:left;
	color:black;
}
.tekst2{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:15%;
	float:right;
	color:black;
}
/* NOG AANPASSEN IN HTML */
/* voor style */
.img{
	margin-left:20%;
	
}
/* */ 
/* voor work */
.img1{
	margin-left:10%;
	margin-top:5%;
}
.img2{
	margin-left:10%;
	margin-top:4%;
	float:left;
}
/**/
/* voor books */

.img3{
	margin-left:5%;
	margin-top:5%;
	
}
/**/
/* voor cuteanimals */

.img4{
	margin-left:40%;
	
}
/**/
h3{
	text-align: center;
	font-size:1.3em;
	line-height:50px;
	font-family: 'Petit Formal Script', cursive;
	color:black;
	background-color:rgba(255,255,255,0.5);
	border-radius:50px;
	
}

/* voor cuteanimals */
.gallerij{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-left:auto;
	margin-right:auto;
	color:black;
}
/**/
/* voor work */
.tekst{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:10%;
	color:black;
	float:left;
	margin-right:10%;
}

.tekst2{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:10%;
	color:black;
	float:right;
	margin-left:10%;
}
/**/
/* NOG AANPASSEN voor books */
.tekst3{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	color:black;
	margin-top:5%;
	margin-left:5%;
	float:left;
	padding:1%;
}
/* */
/* voor work */
.tekst4{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:5%;
	color:black;
	float:right;
	margin-right:10%;
}

.tekst5{
	background-color:rgba(255,255,255,0.5);
	width:50%;
	margin-top:4%;
	color:black;
	float:right;
	margin-right:10%;
}
/**/
.videos {
	background-image:url(../videos/images/background2.jpg);
}

